<a href="{{ site.baseurl }}/assets/images/posts/{{ include.filename }}" class="fancybox">
    <img src="{{ site.baseurl }}/assets/images/posts/{{ include.filename }}"{% if include.class %} alt="{{ include.alt }}"{% endif %}{% if include.alt %} title="{{ include.title }}"{% endif %} class="mx-auto img-fluid{% if include.class %} {{ include.class }}{% endif %}">
</a>